@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,400;0,9..40,500;0,9..40,700;1,9..40,100;1,9..40,400;1,9..40,500;1,9..40,700&family=Plus+Jakarta+Sans:wght@200;400;700&family=Quicksand:wght@300&display=swap');

:root {
  --nav-height: 4rem;
  --padding: 5rem;
  --global-bg-color: white;
  --light-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
  --shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

a,
img,
button {
  user-select: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.side-profile a,
button {
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  background-color: inherit;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--global-bg-color);
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex-col {
  flex-direction: column;
}

.padding-top-bot {
  padding-top: var(--padding);
  padding-bottom: var(--padding);
}

.btn-black {
  color: white;
  background-color: black;
  font-size: 1.2rem;
}

.side-profile a:hover,
button:active,
.aside-btn:hover,
.card:hover {
  transition: all 0.4s;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  outline: 1px solid lightblue;
}

header {
  display: inline;
}

nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  height: var(--nav-height);
  padding: 0 var(--padding);
  position: sticky;
  top: 0;
  background-color: var(--global-bg-color);
  z-index: 999;
  box-shadow: var(--light-shadow);
}

.hamburger {
  display: none;
  background-image: url(images/icons/hamburger-menu.svg);
  background-size: cover;
  background-position: center;
  width: 2rem;
  height: 2rem;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  nav {
    padding: 0 calc(var(--padding) / 3);
  }
}

@media screen and (max-width: 900px) {
  nav {
    height: max-content;
    padding: 1rem calc(var(--padding) / 3);
    flex-direction: column;
  }

  nav ul.nav-button:last-child {
    padding-top: 2rem;
  }

  nav .nav-button {
    flex-direction: column;
  }

  nav>div.flex {
    align-items: normal;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }
}

nav .logo {
  font-weight: bold;
  font-size: 1.5rem;
}

nav .nav-button {
  gap: 1.5rem;
}

main>#content>article:not(.article-testimoni):not(.article-daftar) {
  margin: 0 var(--padding);
}

.article-1 {
  justify-content: space-between;
  height: calc(100vh - var(--nav-height));
  gap: 4rem;
  --image-width: 60vw;
}

.article-1 * {
  font-size: 1.2rem;
}

.article-1 h1 {
  font-size: 2.75rem;
}

.article-1 button {
  width: 8.7rem;
}

@media screen and (max-width: 955px) {
  .article-1 h1 {
    font-size: 2.2rem;
  }
}

.article-1 .title {
  width: calc(100vw - var(--image-width));
  gap: 2rem;
  align-items: start;
}

.article-1 .card-img {
  background-image: url(images/cards.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 60vh;
  width: var(--image-width);
}

@media screen and (max-width: 768px) {
  main article.article-1 {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .article-1 .title {
    width: unset;
    height: 80vh;
    order: 1;
  }

  .article-1 .card-img {
    height: 10vh;
    width: 100vw;
    border-radius: 0;
    order: 0;
    box-shadow: none;
  }
}


.article-deskripsi {
  justify-content: center;
  padding: var(--padding);
  gap: 5rem;
}

.article-deskripsi * {
  z-index: 1;
}

.article-deskripsi p {
  font-size: 1.2rem;
}

.bg-grey {
  z-index: 0;
  position: absolute;
  background-color: rgba(245, 245, 245, 0.45);
  width: 90%;
  height: 80%;
  border-radius: 50px;
  border: 1px solid whitesmoke;
  box-shadow: var(--light-shadow);
}

.article-deskripsi .digital-pay-img {
  background-image: url(images/digital-payment.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 55vh;
  width: 190rem;
}

.article-fitur {
  text-align: center;
}

.article-fitur h1 {
  margin-bottom: 4rem;
}

.cards {
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  justify-content: center;
  transition: all 0.4s;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  background-color: white;
  box-shadow: var(--light-shadow);
  padding: calc(var(--padding) / 2);
  width: 22rem;
  height: 20rem;
  background-color: rgba(245, 245, 245, 0.2);
}

.article-misi .pay-using-phone {
  background-image: url(images/pay-using-phone.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 55vh;
  width: 120rem;
}

.article-misi p {
  font-size: 1.2rem;
}

.article-keunggulan h1 {
  margin-bottom: 2rem;
}

.article-keunggulan p {
  font-size: 1.1rem;
}

.article-keunggulan,
.article-keunggulan>div.flex {
  gap: 2rem;
}

.article-keunggulan>div.flex section {
  height: 15rem;
  width: 25rem;
}

.article-keunggulan>div.flex section h2 {
  padding-bottom: calc(var(--padding) / 5);
}

.article-daftar {
  height: max-content;
  padding-bottom: var(--padding);
  position: relative;
  --bg-card-radius: 30px;
  --bg-card-width: min(90%, 55rem);
  --bg-card-height: 25rem;
}

.bg-for-daftar-card {
  z-index: 0;
  width: var(--bg-card-width);
  height: var(--bg-card-height);
  background-color: white;
  border-radius: var(--bg-card-radius);
  border: 1px solid whitesmoke;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  padding: var(--padding) calc(var(--padding) / 1.5);
  justify-content: space-evenly;
  gap: 8rem;
}

.bg-for-daftar-card .text {
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.oval {
  z-index: -1;
  width: 25rem;
  height: var(--bg-card-height);
  background: rgb(237, 252, 140);
  background: linear-gradient(90deg, rgba(237, 252, 140, 1) 0%, rgba(229, 243, 170, 1) 35%, rgba(219, 233, 209, 1) 100%);
  border-radius: var(--bg-card-height) calc(var(--bg-card-radius) + 20px) calc(var(--bg-card-radius) + 20px) var(--bg-card-height);
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (max-width: 900px) {
  .bg-for-daftar-card h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 720px) {
  .bg-for-daftar-card h1 {
    font-size: 1.3rem;
  }

  .bg-for-daftar-card img {
    zoom: 75%;
  }

  .bg-for-daftar-card {
    gap: 1rem;
  }

  .oval {
    z-index: -1;
    width: 100%;
    height: 3rem;
    background: rgb(237, 252, 140);
    background: linear-gradient(90deg, rgba(237, 252, 140, 1) 0%, rgba(229, 243, 170, 1) 35%, rgba(219, 233, 209, 1) 100%);
    border-radius: 0 0 var(--bg-card-radius) var(--bg-card-radius);
    position: absolute;
    right: 0;
    top: calc(100% - 3rem);
  }
}

@media screen and (max-width: 590px) {
  .bg-for-daftar-card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding-bottom: calc(var(--padding) + 3rem);
  }

  .bg-for-daftar-card img {
    zoom: 60%;
    order: 1;
  }

  .bg-for-daftar-card .text {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    order: 2;
  }
}

@media screen and (max-width: 436px) {
  .bg-for-daftar-card {
    height: 80vh;
  }

  .bg-for-daftar-card img {
    zoom: 40%;
  }
}

.article-harga {
  justify-content: center;
  align-items: center;
}

.article-harga h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.article-harga .card {
  height: 23rem;
  background-size: cover;
  background-position: center;
  z-index: 0;
  position: relative;
  border-radius: 20px;
}

.img-1 {
  background-image: url(images/man-with-phone.jpg);
}

.img-2 {
  background-image: url(images/office.jpg);
}

.img-3 {
  background-image: url(images/office2.jpg);
}

.shape-blur {
  z-index: -1;
  width: 100%;
  height: 6rem;
  backdrop-filter: blur(12px);
  position: absolute;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  border: 1px solid transparent;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 2rem;
  justify-content: space-between;
}

.shape-blur button {
  color: white;
  border: 2px solid white;
  font-weight: bold;
}

.circle-btn {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-right: 4px;
}

.circle-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.circle-btn:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.arrow-btn {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  zoom: 190%;
}

.article-daftar,
.article-testimoni {
  background-color: whitesmoke;
}

.article-testimoni .card {
  height: 25rem;
  background-color: white;
  border-radius: 40px;
  gap: 2rem;
}

.article-testimoni .card img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: 1px solid whitesmoke;
  object-fit: cover;
  filter: grayscale(80%);
}

.article-testimoni .card h2 {
  font-size: 1.2rem;
}

.article-testimoni .card h2+p {
  font-size: 1rem;
  color: gray;
  text-align: left;
}

.article-testimoni .card>div.flex:last-child {
  height: 9rem;
  font-size: 1.1rem;
}

footer {
  color: white;
  background-color: black;
  padding: var(--padding) calc(var(--padding) / 3);
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
}

footer>div.flex {
  align-items: flex-start;
}

footer input[type=email] {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  width: 16rem;
  height: 3rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 800px) {
  footer {
    flex-direction: column;
    padding: var(--padding);
  }
}

@media screen and (max-width: 400px) {
  footer {
    padding: 2rem;
  }

  footer input[type=email] {
    width: 40vh;
    font-size: .9rem;
  }
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .ul-groups {
  gap: 4rem;
  flex-wrap: wrap;
}

footer li {
  font-size: 1.1rem;
}

.aside-btn {
  z-index: 1002;
  position: fixed;
  top: 50%;
  left: 0;
  width: 1.5rem;
  height: 6rem;
  border-radius: 0 20px 20px 0;
  background-color: var(--global-bg-color);
  box-shadow: var(--shadow);
  border: 1px solid whitesmoke;
  border-left: 0;
  cursor: pointer;
}

.side-profile {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  width: 22rem;
  height: 100%;
  border-radius: 0 40px 40px 0;
  background-color: white;
  box-shadow: var(--shadow);
  border: 1px solid whitesmoke;
  border-left: 0;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.side-profile img {
  object-fit: cover;
  height: 10rem;
  width: 10rem;
  border: 1px solid whitesmoke;
  box-shadow: var(--light-shadow);
  border-radius: 50% 20% / 10% 40%;
}

.side-profile p {
  font-size: 1.2rem;
}

.darken {
  position: fixed;
  background-color: rgba(0, 0, 0, .3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}